.AdCreating{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.Cap {
    margin-top: calc(70px * 0.3644);
    margin-left: calc(48px * 0.3644);
    margin-right: calc(23px * 0.3644);
}
.Categories{
    margin-top: calc(23px *  0.367);
}
.DescriptionAndPhoto{
    display: flex;
    flex-direction: column;
    margin-top: calc(90px * 0.367);
    gap: calc(24px * 0.367);
}
.MakePrivate{
    margin-top: calc(100px * 0.367);
}