a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
    margin : 0;
}
.MainContainer{
    max-width: 430px;
    background-color: rgb(24, 34, 45);
    margin: auto;
    box-sizing: border-box;
}
